[Unit]
Description=Timer pour la mise à jour FRE Node

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
