[Unit]
Description=FRE Node Updater
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fre-node-update

[Install]
WantedBy=multi-user.target
